@media screen, print {

    html, body {
        max-width: 1200px;
        margin: 0 auto;

    }

    body {
        background-color: #b2b4b3;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;


    }

    .input.checkbox {
        display: none;

    }

    .container {
        display: grid;
        max-width: 1280px;
        padding: 10px 15px;
        grid-template-columns: 180px minmax(200px, auto);
        grid-template-rows: 80px 50px auto 50px;
        grid-gap: 4px;

    }

    .container .item {
        display: grid;
        align-content: flex-start;
        color: rgb(26, 23, 23);
        align-items: flex-start;
        justify-content: left;
        text-shadow: 1px 1px 3px rgb(68, 71, 68);
        box-shadow: 1px 1px 1px rgb(46, 37, 37);
        padding: 10px;
        border: 1px solid #082b08;
        border-radius: 5px;
    }

    .container .result {
        align-items: start;
    }

    .container .item-1 {
        display:grid;
        grid-column: span 4;
        padding: 0;
        color: #082b08;
        font-size: larger;

    }
    .item-1 img {
        justify-content: right;
    }
    .container .item-2 input {
        width: 40px;
        padding: 5px;
        font-size: large;
    }

    .volume {

        padding: 0;
    }

    .container .item-2 {
        grid-row: span 3;
        grid-template-columns:80px 80px;
        justify-content: left;
        height: 965px;
    }

    .container .item-3 {
        grid-row: span 3;
        grid-column: span 3;
        padding: 0;


    }

    .container .item-4 {
        display: grid;
        justify-content: initial;
        /*min-width: 500px;*/
        /*min-height: 500px;*/
        /*padding: 0;*/
        /*font-size: small;*/
        /*align-items: inherit;*/
        /*grid-row-end: inherit;*/
    }

    .modelBox a {
        line-height: 18px;
        justify-content: left;
        padding: 0;
    }

    .modelBox {
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:unset;
        box-sizing: border-box;
        align-content: space-around;
        border: none;

    }

    .item .size {
        display: inline-block;
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .item .size:hover {
        background-color: #8ad1a7;
        border-radius: 5px;

    }

    .item.operator {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .block {
        border: 1px solid #082b08;
        justify-content: left;
        box-shadow: none;
        margin-top: 20px;
        padding: 0;
    width:max-content;
    }

    .button {
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 15px;
        text-shadow: 0 -1px 0 #4a8a65, 0 1px 1px #c2dece;
        box-sizing: border-box;
        font-size: 18px;

        text-decoration: none;
        font-weight: bold;
        color: #5ea97d;
        height: 25px;
        line-height: 25px;
        padding: 2px;
        display: inline-block;
        width: auto;
        background: linear-gradient(to bottom, #9ceabd 0%, #9ddab6 26%, #7fbb98 100%);
        border-radius: 5px;
        border-top: 1px solid #c8e2d3;
        border-bottom: 1px solid #c2dece;
        top: 0;
        transition: all 0.06s ease-out;
        position: relative;
    }

    .button:visited {
        color: #5ea97d;
    }

    .button:hover {
        background: linear-gradient(to bottom, #baf1d1 0%, #b7e4ca 26%, #96c7ab 100%);
    }

    .button:active {
        top: 6px;
        text-shadow: 0 -0.5px 0 #7fbb98, 0 1px 1px #c2dece, 0 0 4px white;
        color: #fff;
    }

    .button:active:before {
        top: 0;
        box-shadow: 0 3px 3px rgba(233, 226, 226, 0.7), 0 3px 9px rgba(0, 0, 0, 0.2);
    }

    .button:before {
        display: inline-block;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
        top: 10px;
        border-radius: 5px;
        height: 15px;
        background: linear-gradient(to top, #1e5033 0%, #378357 6px);
        transition: all 0.078s ease-out;
        box-shadow: 0 1px 0 2px rgba(0, 0, 0, 0.3), 0 5px 2.4px rgba(0, 0, 0, 0.5), 0 10.8px 9px rgba(0, 0, 0, 0.2);
    }


    @media (max-width: 1200px) {
        .container {
            width: 970px;
        }
    }

    @media (max-width: 992px) {
        .container {
            width: 750px;
        }
    }

    @media (max-width: 750px) {
        .container {
            max-width: none;
        }
    }
}

@media print {
    .nav {
        display: none;
    }

    body {
        background-color: white;
        font-size: 14px;
    }
    .container {
        border: none;
    }
    .container .item {
        display: grid;
        align-content: flex-start;
        color: rgb(26, 23, 23);
        align-items: flex-start;
        justify-content: left;
        text-shadow: none;
        box-shadow: none;
        padding: 10px;
        border: 1px solid #082b08;
        border-radius: 5px;
    }

    .container .item-1 {
        display: none;
    }

    .container .item-2 {
        display: none;
    }

    .container .item-3 {
        width: 210mm;

    }
    .modelBox {
        display: grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:290mm 298mm ;
        box-sizing: border-box;
        align-content: space-around;
        padding: 0;

    }
}




